.LeadTableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  height: 80px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.LeadTableRow:first-child {
  background-color: #03396c;
  transform: scale(1.01);
}
.LeadTableRow:first-child {
  background-color: #03396c;
  transform: scale(1.01);
}

.LeadTableRow:first-child .LeadTableRow__fullname,
.LeadTableRow:first-child .LeadTableRow__point,
.LeadTableRow:first-child .LeadTableRow_idx {
  color: yellow;
}

.LeadTableRow:first-child .LeadTableRow__profile {
  box-shadow: rgba(170, 207, 20, 0.3) 0px 1px 2px 0px,
    rgba(187, 180, 52, 0.15) 0px 1px 3px 1px;
}

.LeadTableRow:hover {
  background-color: #03396c;
  transform: scale(1.02);
}
.LeadTableRow_idx {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 26px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}
.LeadTableRow__profile {
  width: 60px;
  border-radius: 7px;
  margin-right: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.3s ease-in-out;
}
.LeadTableRow__fullname {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  width: 600px;
  transition: 0.3s ease-in-out;
}
.LeadTableRow__point {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 26px;
  width: 22%;
  transition: 0.3s ease-in-out;
}
.LeadTableRow__profileside {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}
.LeadTableRow__pointside {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 160px;
}
.circleLogo {
  width: 40px;
  margin-left: 20px;
}

.LeadTableRow:hover .LeadTableRow__fullname,
.LeadTableRow:hover .LeadTableRow__point,
.LeadTableRow:hover .LeadTableRow_idx {
  color: yellow;
}

.LeadTableRow:hover .LeadTableRow__profile {
  box-shadow: rgba(170, 207, 20, 0.3) 0px 1px 2px 0px,
    rgba(187, 180, 52, 0.15) 0px 1px 3px 1px;
}

@media only screen and (max-width: 980px) {
  .LeadTableRow__fullname {
    font-weight: 600;
    font-size: 20px;
    width: 400px;
  }
  .LeadTableRow__point {
    font-weight: 600;
    font-size: 20px;
  }
  .circleLogo {
    width: 32px;
  }
  .LeadTableRow__pointside {
    width: 120px;
  }
  .LeadTableRow_idx {
    font-weight: 600;
    font-size: 20px;
  }
  .LeadTableRow__profile {
    width: 45px;
  }
  .LeadTableRow {
    height: 70px;
  }
}
@media only screen and (max-width: 700px) {
  .LeadTableRow__fullname {
    font-weight: 500;
    font-size: 18px;
    width: 300px;
    letter-spacing: -1px;
  }
  .LeadTableRow__point {
    font-weight: 500;
    font-size: 18px;
  }
  .LeadTableRow_idx {
    font-weight: 600;
    font-size: 18px;
  }
  .LeadTableRow__profile {
    width: 38px;
  }
  .LeadTableRow {
    height: 60px;
  }
  .circleLogo {
    width: 24px;
  }
}

@media only screen and (max-width: 550px) {
  .LeadTableRow__fullname {
    font-weight: 500;
    font-size: 15px;
    width: 200px;
    letter-spacing: -0.7px;
  }
  .LeadTableRow__point {
    font-weight: 500;
    font-size: 15px;
  }
  .LeadTableRow_idx {
    font-weight: 600;
    font-size: 15px;
  }
  .LeadTableRow__profile {
    width: 28px;
  }
  .LeadTableRow {
    height: 48px;
  }
  .circleLogo {
    width: 24px;
  }
  .LeadTableRow__pointside{
    width: 80px;
  }
}
