:root {
  --Family-poppins: "Poppins";
  --Family-merriweather: "Merriweather";
}

.Main {
  width: 100%;
  height: 700px;
  background: url("../../assets/image/main-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.Main__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
}
.Main__text {
  font-size: 84px;
  color: white;

}
.Main__paragraph {
  width: 700px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: var(--Family-poppins);
}
.Main__buttons{
  margin: 20px 0;
}